{% extends 'base_mailing.html' %}
{% load my_tags %}

{% block title %}Сообщение{% endblock %}
{% block content %}
<div class="card mb-3 w-50">
    <div class="row g-0" style="height: 250px">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Тема: {{object.title}}</h5>
                <p class="card-text">Сообщение: {{object.message}}</p>
            </div>
        </div>
    </div>
    <a type="button" class="btn btn-outline-primary" href="{% url 'mailing:messages' %}">Назад</a>
    <a type="button" class="btn btn-secondary" href="{% url 'mailing:message_update' object.pk %}">Изменить</a>
    <a type="button" class="btn btn-danger" href="{% url 'mailing:message_delete' object.pk %}">Удалить</a>
</div>
{% endblock %}
