{% extends 'base_mailing.html' %}

{% block title %}Сообщения{% endblock %}

{% block content %}
<a href="{% url 'mailing:message_form' %}" class="btn btn-primary w-25">Добавить сообщение</a>

<div class="container mt-3 d-flex flex-wrap justify-content-center">
    {% for message in messages %}
    <div class="card w-50 m-2" style="max-width:550px">
        <h5 class="card-header">{{ message.title }}</h5>
        <div class="card-body">
            <p class="card-text">{{ message.message }}</p>
            <a href="{% url 'mailing:message_detail' message.pk %}" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}