<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0" bis_skin_checked="1"><a href="/"
                                                               class="d-inline-flex link-body-emphasis text-decoration-none">
    <h2>Mailing</h2>
    </a></div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'mailing:main' %}" class="nav-link px-2">Главная</a></li>
        <li><a href="{% url 'mailing:clients' %}" class="nav-link px-2">Клиенты</a></li>
        <li><a href="{% url 'mailing:messages' %}" class="nav-link px-2">Сообщения</a></li>
        <li><a href="{% url 'mailing:mailings' %}" class="nav-link px-2">Рассылки</a></li>
        <li><a href="{% url 'mailing:attempts' %}" class="nav-link px-2">Попытки</a></li>
    </ul>
    <div class="col-md-3 text-end" bis_skin_checked="1">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
</header>