<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0" bis_skin_checked="1"><a href="/"
                                                               class="d-inline-flex link-body-emphasis text-decoration-none">
        <h2>Mailing</h2>
    </a></div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'mailing:main' %}" class="nav-link px-2">Главная</a></li>
         {% if user.is_authenticated %}
        <li><a href="{% url 'mailing:clients' %}" class="nav-link px-2">Клиенты</a></li>
        <li><a href="{% url 'mailing:messages' %}" class="nav-link px-2">Сообщения</a></li>
        <li><a href="{% url 'mailing:mailings' %}" class="nav-link px-2">Рассылки</a></li>
        <li><a href="{% url 'mailing:attempts' %}" class="nav-link px-2">Попытки</a></li>
        <li><a href="{% url 'mailing:report' %}" class="nav-link px-2">Отчет</a></li>
        {% endif %}
        {% if perms.users.can_watch_users %}
        <li><a href="{% url 'users:users' %}" class="nav-link px-2">Пользователи</a></li>
        {% endif %}
    </ul>
    <div class="col-md-3 text-end d-flex flex-row align-items-right justify-content-end" bis_skin_checked="1">
        {% if user.is_authenticated %}
        <a href="{% url 'users:profile' user.pk %}" class="btn btn-outline-primary me-2">Мой профиль</a>
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-outline-primary me-2" type="submit">Выйти</button>
        </form>
        {% else %}
        <a href="{% url 'users:login' %}" class="btn btn-outline-primary me-2">Войти</a>
        <a href="{% url 'users:register' %}" class="btn btn-outline-primary me-2">Регистрация</a>
        {% endif %}
    </div>
</header>